<div class="container player-selection">
  <h2>Please select the player ID</h2>
  <div>
    <mat-form-field>
      <mat-select
        [(ngModel)]="selectedPlayerID"
        [ngModelOptions]="{ standalone: true }"
        (selectionChange)="onPlayerSelectionChange()"
      >
        <mat-option
          *ngFor="let _ of [].constructor(31); let i = index"
          [value]="i + 1"
        >
          {{ i + 1 }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <div *ngIf="playerSummary" id="player-container">
    <mat-card class="player-name-card">
      <mat-card-title>Player Information</mat-card-title>
      <mat-card-content>
        <p><strong>Name:</strong> {{ playerSummary.name }}</p>
        <p><strong>Team:</strong> {{ playerSummary.team }}</p>
      </mat-card-content>
    </mat-card>

    <mat-card class="player-summary-card">
      <mat-card-title>Player Summary</mat-card-title>
      <mat-card-content>
        <p><strong>Name:</strong> {{ playerSummary.name }}</p>
        <p><strong>Team:</strong> {{ playerSummary.team }}</p>
      </mat-card-content>
    </mat-card>

    <div class="game-details-container">
      <mat-card class="game-data-card">
        <mat-card-title>Game Data</mat-card-title>
        <mat-card-content>
          <mat-tab-group>
            <mat-tab
              *ngFor="let game of playerSummary.games"
              label="{{ game.date }}"
            >
              <div class="game-stats">
                <div class="stats-column">
                  <p><strong>Minutes:</strong> {{ game.minutes }}</p>
                  <p><strong>Points:</strong> {{ game.points }}</p>
                  <p><strong>Assists:</strong> {{ game.assists }}</p>
                  <p>
                    <strong>Offensive Rebounds:</strong>
                    {{ game.offensiveRebounds }}
                  </p>
                  <p>
                    <strong>Defensive Rebounds:</strong>
                    {{ game.defensiveRebounds }}
                  </p>
                  <p><strong>Steals:</strong> {{ game.steals }}</p>
                  <p><strong>Blocks:</strong> {{ game.blocks }}</p>
                  <p><strong>Turnovers:</strong> {{ game.turnovers }}</p>
                  <p>
                    <strong>Defensive Fouls:</strong> {{ game.defensiveFouls }}
                  </p>
                  <p>
                    <strong>Offensive Fouls:</strong> {{ game.offensiveFouls }}
                  </p>
                  <p>
                    <strong>Free Throws Made:</strong> {{ game.freeThrowsMade }}
                  </p>
                  <p>
                    <strong>Free Throws Attempted:</strong>
                    {{ game.freeThrowsAttempted }}
                  </p>
                  <p>
                    <strong>Two Pointers Made:</strong>
                    {{ game.twoPointersMade }}
                  </p>
                  <p>
                    <strong>Two Pointers Attempted:</strong>
                    {{ game.twoPointersAttempted }}
                  </p>
                  <p>
                    <strong>Three Pointers Made:</strong>
                    {{ game.threePointersMade }}
                  </p>
                  <p>
                    <strong>Three Pointers Attempted:</strong>
                    {{ game.threePointersAttempted }}
                  </p>
                </div>

                <div class="stats-column">
                  <div class="shots-stats">
                    <strong>Shots</strong>
                    <li *ngFor="let shot of game.shots">
                      Location: ({{ shot.locationX }}, {{ shot.locationY }}) -
                      {{ shot.isMake ? "Made" : "Missed" }}
                    </li>
                  </div>
                </div>
              </div>
            </mat-tab>
          </mat-tab-group>
        </mat-card-content>
      </mat-card>

      <mat-card class="game-summary-card">
        <mat-card-title>Game Summary</mat-card-title>
        <mat-card-content>
          <div class="court-diagram">
            <hr />
            <p>
              <strong>Shot Plot</strong>
            </p>
            <svg id="shotChart" width="500" height="500"></svg>
          </div>
          <p></p>
          <hr />
          <p>
            <strong>Shot Accuracy</strong>
          </p>

          <div
            class="progress-bar-container"
            *ngIf="playerSummary && playerSummary.games"
          >
            <ng-container *ngFor="let game of playerSummary.games">
              <div>
                <strong
                  ><span>{{ game.date }}</span></strong
                >
              </div>
              <div>
                <span>Free Throw Percentage:</span>
                <progress
                  max="100"
                  value="{{
                    (game.freeThrowsMade / game.freeThrowsAttempted) * 100
                  }}"
                ></progress>
                <span
                  >{{
                    (game.freeThrowsMade / game.freeThrowsAttempted) * 100
                      | number : "1.0-0"
                  }}%</span
                >
              </div>
              <div>
                <span>Two Pointers Percentage:</span>
                <progress
                  max="100"
                  value="{{
                    (game.twoPointersMade / game.twoPointersAttempted) * 100
                  }}"
                ></progress>
                <span
                  >{{
                    (game.twoPointersMade / game.twoPointersAttempted) * 100
                      | number : "1.0-0"
                  }}%</span
                >
              </div>
              <div>
                <span>Three Pointers Percentage:</span>
                <progress
                  max="100"
                  value="{{
                    (game.threePointersMade / game.threePointersAttempted) * 100
                  }}"
                ></progress>
                <span
                  >{{
                    (game.threePointersMade / game.threePointersAttempted) * 100
                      | number : "1.0-0"
                  }}%</span
                >
              </div>
              <div>
                <span>Overall Shot Percentage:</span>
                <progress
                  max="100"
                  value="{{
                    ((game.freeThrowsMade +
                      game.twoPointersMade +
                      game.threePointersMade) /
                      (game.freeThrowsAttempted +
                        game.twoPointersAttempted +
                        game.threePointersAttempted)) *
                      100
                  }}"
                ></progress>
                <span
                  >{{
                    ((game.freeThrowsMade +
                      game.twoPointersMade +
                      game.threePointersMade) /
                      (game.freeThrowsAttempted +
                        game.twoPointersAttempted +
                        game.threePointersAttempted)) *
                      100 | number : "1.0-0"
                  }}%</span
                >
                <p></p>
              </div>
            </ng-container>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
