player-summary-component {
  .placeholder {
    height: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

#player-container {
  width: 80%;
  margin: 0 auto;
  .game-stats {
    padding: 16px;
  }
  .shots {
    h4 {
      margin-top: 16px;
    }
  }
}
