// ---- Variables ---- //
$primary-color: #007ac1;
$primary-font: "Arial", sans-serif;

// ---- Base Container Styles ---- //
.container {
  font-family: $primary-font;
  padding: 40px;

  table {
    border-collapse: collapse;
    width: 48%;
    background-color: #e5f5fe;
  }

  th,
  td {
    padding: 8px 12px;
    height: 10px;
    border: 1px solid #007ac1;
    text-align: left;
  }

  th {
    background-color: #007ac1;
    color: white;
  }

  thead th {
    font-weight: bold;
  }

  h2 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
  }

  p,
  li {
    font-size: 14px;
    margin-bottom: 10px;
  }

  strong {
    font-weight: 600;
  }

  // ---- Form Styles ---- //
  mat-form-field {
    width: 100%;
    max-width: 300px;
  }

  mat-card {
    padding: 20px;
    margin-bottom: 20px;
    margin-top: 10px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }

  mat-card-title {
    margin-top: 0;
    font-size: 20px;
    font-weight: 600;
    color: #007ac1;
  }

  mat-card-content {
    padding-top: 10px;
    padding-left: 0;
    margin-left: 10px;
  }

  .player-selection {
    margin-bottom: 30px;
  }

  .player-name-card,
  .player-summary-card {
    margin-bottom: 20px;
    padding: 20px;
    width: 70%;
  }

  .radar-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .table-container {
    display: flex;
    justify-content: space-between;
  }

  .hidden {
    display: none;
  }

  // ---- Formula Styles ---- //
  .formula-container {
    font-family: "Arial", sans-serif;
    padding: 20px;
    width: fit-content;
    background-color: #f0f0f0;
    margin: 20px;
    margin-left: 0px;
  }

  .formula-title {
    font-size: 1.2rem;
    color: #007ac1;
    margin-bottom: 10px;
    font-weight: bold;
  }

  .formula-content {
    display: flex;
    align-items: center;
    gap: 10px;
  }

  .formula-content span {
    font-weight: bold;
  }

  .formula-operator {
    margin: 0 8px;
  }

  .sum-sign {
    font-size: 1.5rem;
  }

  // ---- Shot Chart Styles ---- //
  #shotChart {
    width: 500px;
    height: 470px;
    background: url("/assets/court_diagram.jpg") no-repeat;
    background-size: cover;
  }

  // ---- Shot Distance Plot Styles ---- //
  #shotDistancePlot {
    width: 500px;
    height: 500px;
    padding: 30px;
  }

  // ---- Shot Distribution Plot Styles ---- //
  #shotDistributionPlot {
    width: 500px;
    height: 500px;
    padding: 30px;
  }

  // ---- Radar Chart Styles ---- //
  #radarChart {
    width: 400px;
    height: 400px;
  }

  // ---- Tooltip Styles ---- //
  #tooltip {
    position: absolute;
    padding: 10px;
    background: #f9f9f9;
    border: 1px solid #d4d4d4;
    border-radius: 5px;
    pointer-events: none;
  }

  #tooltipContent {
    background-color: $primary-color;
    padding: 5px;
    border-radius: 5px;
    margin: 1px;
    box-shadow: 2px 2px 5px rgba(0, 122, 193, 0.3);
    color: #ffffff;
  }

  // ---- Player Container Styles ---- //
  #player-container {
    margin-bottom: 20px;

    .game-details-container {
      display: flex;
      justify-content: space-between;
      width: 100%;
      gap: 20px;

      .game-data-card {
        flex: 2;
        width: 50%;
        box-sizing: border-box;
      }
      .game-plot-card {
        flex: 2;
        width: 50%;
        box-sizing: border-box;
      }
    }

    .progress-bar-container {
      width: 90%;
      padding: 20px 0;
      display: flex;
      justify-content: space-between;
      padding-bottom: 10px;

      .stats-column {
        width: 60%;
      }
    }

    // ---- Progress Bar Styles ---- //
    progress {
      -moz-appearance: none;
      -webkit-appearance: none;
      appearance: none;
      border: none;
      color: #007ac1;
      width: 80%;
      height: 15px;
      margin-bottom: 1px;
      margin-top: 10px;
      margin-right: 15px;
      background-color: #e0e0e0;
      border-radius: 3px;
      box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
    }

    progress::-moz-progress-bar {
      background-color: #007ac1;
    }

    progress::-webkit-progress-value {
      background-color: #007ac1;
    }

    progress::-webkit-progress-value {
      background-image: -webkit-linear-gradient(
        -45deg,
        rgba(255, 255, 255, 0.15) 25%,
        transparent 25%,
        transparent 50%,
        rgba(255, 255, 255, 0.15) 50%,
        rgba(255, 255, 255, 0.15) 75%,
        transparent 75%,
        transparent
      );
      background-size: 50px 50px;
    }

    progress::-moz-progress-bar {
      background-image: -moz-linear-gradient(
        -45deg,
        rgba(255, 255, 255, 0.15) 25%,
        transparent 25%,
        transparent 50%,
        rgba(255, 255, 255, 0.15) 50%,
        rgba(255, 255, 255, 0.15) 75%,
        transparent 75%,
        transparent
      );
      background-size: 50px 50px;
    }

    span {
      font-size: 14px;
      margin-right: 10px;
      vertical-align: middle;
    }

    // ---- Pie Chart Styles ---- //
    ngx-charts-pie-chart {
      width: 100%;
      height: 200px;
      display: block;
    }

    .large-chart {
      transform: scale(1);
      place-items: center;
      height: 40vh;
    }

    .small-chart {
      transform: scale(1);
      place-items: center;
      height: 30vh;
    }

    .game-stats {
      padding: 20px 0;
      display: flex;
      justify-content: space-between;

      .stats-column {
        width: 50%;
      }
    }
  }
}
