player-summary-component {
  .container {
    padding: 20px;
    margin: 0 auto;
    max-width: 1200px;
  }
}

mat-card-title {
  padding: 10px 20px;
}

h2 {
  margin-bottom: 20px;
}

#player-container {
  width: 80%;
  margin: 0 auto;
  .game-stats {
    padding: 16px;
  }
  .shots {
    h4 {
      margin-top: 16px;
    }
  }
}
